<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<div class="card question-card">
  <p class="question"><%= @question %></p>
  <p class="author">&mdash;You</p>
</div>
<div class="card answer-card">
  <p class="answer"><%= @answer %></p>
  <p class="author">&mdash;Your coach</p>
</div>

<%= link_to 'Ask a new question', '/ask' %>
 <!-- <%= link_to 'Ask a new question', ask_path %> -->
